<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>New Return
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
                    <!--
                            <div class="col-md-3">
                                <ng-select [items]="people" bindLabel="name" autofocus bindValue="id" [(ngModel)]="selectedPersonId">
                                </ng-select>
                            </div>
                            -->
                    <div class="form-group row" *ngFor="let item of items; index as i;">
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Batch ID</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Item" value="{{ item.batchno }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Item</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Item" value="{{ item.itemname }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Exp</label>
                            <input class="form-control form-control-sm" type="date" placeholder="yyyy-mm" value="{{ item.mfg }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Exp</label>
                            <input class="form-control form-control-sm" type="date" placeholder="yyyy-mm" value="{{ item.expiry }}" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Reason</label>
                            <ng-select #FindItem [class]="custom" [items]="reasons" bindLabel="label" autofocus bindValue="label" [(ngModel)]="item.reason" (search)="reasonSearch($event, i)" (change)="reasonChange($event)" placeholder="search item">
                            </ng-select>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">&nbsp;</label>
                            <br>
                            <button class="btn btn-primary btn-sm" type="button" (click)="removeItem(i)"><i
                                    class="fa fa-close"></i></button>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Available</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Available" value="{{ item.qtystock }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">QTY</label>
                            <input type="text" class="form-control form-control-sm" placeholder="QTY" [(ngModel)]="item.qty" (ngModelChange)="changeQTY(i)">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Unit Price</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Unit Price" [(ngModel)]="item.price" (ngModelChange)="changeQTY(i)">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Discount (%)</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Discount (%)" [(ngModel)]="item.discount" (ngModelChange)="changeQTY(i)">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Discount Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Discount Amount" [(ngModel)]="item.discountamount" (ngModelChange)="changeQTY(i)">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Total Cost</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Available" value="{{ item.totalcost }}" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="addItem()"><i
                                    class="fa fa-plus"></i>&nbsp;Add
                                item</button>
                        </div>
                        <div class="col-md-5">
                            <ng-select #FindItem [searchFn]="searchFn" [items]="itemsList" bindLabel="itemlabel" autofocus bindValue="id" [(ngModel)]="selectedItemCode" (search)="itemSearch($event)" (change)="itemChange($event)" placeholder="search item">
                            </ng-select>
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Vendor ID</label>
                            <input type="text" class="form-control form-control-sm" placeholder="" value="{{ items.length > 0 ? items[0].vendorid : '' }}" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Vendor Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="" value="{{ items.length > 0 ? vendorFName + ' ' + vendorLName : '' }}" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Due Date</label>
                            <input type="date" class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="dueDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Total Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalAmount" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Total Discount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalDiscount" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Taxable</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="taxable" readonly>
                        </div>



                        <div class="col-md-3">
                            <label class="col-form-label" for="select1">Payment Mode</label>
                            <select id="select1" name="select1" class="form-control form-control-sm" [(ngModel)]="paymentMode">
                                <option value="cash">Cash</option>
                                <option value="POS">POS</option>
                                <option value="Cash and POS">Cash and POS</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Cumulative Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="cumulativeAmount" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Amount Tendered</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalTendered" (ngModelChange)="changeTendered();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Change Due</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="changeDue" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Due Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="dueAmount" readonly>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" (click)="confirmReturn()">Confirm</button>
                        <button class="btn btn-secondary" type="button" (click)="cancelReturn()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->




    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> RETURN
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Purchase Per Page</label>
                            <select class="form-control form-control-sm" [(ngModel)]="limit" (ngModelChange)="getReturnTable(null)">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control form-control-sm" [(ngModel)]="orderBy" (ngModelChange)="getReturnTable(null)">
                                <option value="createdAt">Date</option>
                                <option value="totalItem">Total Item</option>
                                <option value="totalAmount">Total Price</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control form-control-sm" [(ngModel)]="order" (ngModelChange)="getReturnTable(null)">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="getReturnTable(null)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Receipt No</th>
                                <th>Total QTY</th>
                                <th>Total Amount</th>
                                <th>Amount Tendered</th>
                                <th>Due Date</th>
                                <th>Mode of Payment</th>
                                <th>Staff</th>
                                <th>Vendor</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let returni of returns; index as i;">
                                <td>{{ i + 1 + (page - 1) * limit }}</td>
                                <td><a href="{{ serverPath + 'return-bill?returnId=' + returni.id.toString() + '&paper=A4V2' }}" target="_blank">{{ returni.id }}</a></td>
                                <td>{{ returni.totalQTY }}</td>
                                <td>{{ returni.totalAmount }}</td>
                                <td>{{ returni.totalTendered }}</td>
                                <td>{{ returni.dueDate }}</td>
                                <td>{{ returni.paymentMode }}</td>
                                <td>{{ returni.userName }}</td>
                                <td>{{ returni.vendorFName.toString() + ' ' + returni.vendorLName.toString() }}</td>
                                <td>{{ returni.createdAt.toLocaleString() }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getReturnTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item" (click)="getReturnTable(-3)"><button class="page-link">First</button></li>
                        <li class="page-item active" *ngFor="let pagei of getTablePages(page, pages);" [ngClass]="{'active': pagei == page}" (click)="getReturnTable(pagei)">
                            <button class="page-link">{{ pagei }}</button>
                        </li>
                        <li class="page-item" (click)="getReturnTable(-4)"><button class="page-link">Last</button></li>
                        <li class="page-item" (click)="getReturnTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>