<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <div class="text-value">{{ totalItemSold }}</div>
                    <div>{{ timString }} item sold</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas
                        baseChart class="chart"
                        [datasets]="itemSoldChartData"
                        [labels]="itemSoldChartLabels"
                        [options]="itemSoldChartOptions"
                        [colors]="itemSoldChartColours"
                        [legend]="itemSoldChartLegend"
                        [chartType]="itemSoldChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="text-value">{{ totalEarning }}</div>
                    <div>{{ timString }} earning</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas
                        baseChart class="chart"
                        [datasets]="earningChartData"
                        [labels]="earningChartLabels"
                        [options]="earningChartOptions"
                        [colors]="earningChartColours"
                        [legend]="earningChartLegend"
                        [chartType]="earningChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <div class="text-value">{{ totalItemBought }}</div>
                    <div>{{ timString }} item bought</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas
                        baseChart class="chart"
                        [datasets]="itemBoughtChartData"
                        [labels]="itemBoughtChartLabels"
                        [options]="itemBoughtChartOptions"
                        [colors]="itemBoughtChartColours"
                        [legend]="itemBoughtChartLegend"
                        [chartType]="itemBoughtChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <div class="text-value">{{ totalSpending }}</div>
                    <div>{{ timString }} spending</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas
                        baseChart class="chart"
                        [datasets]="spendingChartData"
                        [labels]="spendingChartLabels"
                        [options]="spendingChartOptions"
                        [colors]="spendingChartColours"
                        [legend]="spendingChartLegend"
                        [chartType]="spendingChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Traffic</h4>
                    <div class="small text-muted">November 2017</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                        <label class="btn btn-outline-secondary" [(ngModel)]="graphBy" btnRadio="day"
                            id="option1" (ngModelChange)="getGraphData()">Day</label>
                        <label class="btn btn-outline-secondary" [(ngModel)]="graphBy" btnRadio="month"
                            id="option2" (ngModelChange)="getGraphData()">Month</label>
                        <label class="btn btn-outline-secondary" [(ngModel)]="graphBy" btnRadio="year"
                            id="option3" (ngModelChange)="getGraphData()">Year</label>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                <canvas
                    baseChart class="chart"
                    [datasets]="mainChartData"
                    [labels]="mainChartLabels"
                    [options]="mainChartOptions"
                    [colors]="mainChartColours"
                    [legend]="mainChartLegend"
                    [chartType]="mainChartType">
                </canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    MEDICINE &amp; SALES
                </div>
                <div class="card-body">

                    <!--/.row-->
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> EXPIRY
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="expiryOrder"
                                            (ngModelChange)="getExpiry(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>QTY</th>
                                                <th>Expiry Date</th>
                                                <th>Buying Date</th>
                                                <th>Vendor Name</th>
                                                <th>Vendor Phone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of expiryData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.qtystock }}</td>
                                                <td>{{ item.expiry.toLocaleString().split(',')[0] }}</td>
                                                <td>{{ item.createdAt.toLocaleString().split(',')[0] }}</td>
                                                <td>{{ item.vendors.fname + ' ' + item.vendors.lname }}</td>
                                                <td>{{ item.vendors.phone }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getExpiry(-1)"><button
                                                class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of expiryPages;"
                                            [ngClass]="{'active': page == expiryPage}" (click)="getExpiry(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getExpiry(-2)"><button
                                                class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> LOW STOCK
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="stockOrder"
                                            (ngModelChange)="getStock(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Item Type</th>
                                                <th>Manufacturer</th>
                                                <th>QTY</th>
                                                <th>Price/Unit</th>
                                                <th>Total Sold</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of stockData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.itemtypename }}</td>
                                                <td>{{ item.manufacturer }}</td>
                                                <td>{{ item.qty }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.totalsold }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getStock(-1)"><button
                                                class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of stockPages;"
                                            [ngClass]="{'active': page == stockPage}" (click)="getStock(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getStock(-2)"><button
                                                class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> ITEM IN DEMAND
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="demandOrder"
                                            (ngModelChange)="getDemand(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Total Earning</th>
                                                <th>QTY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of demandData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.totalprice }}</td>
                                                <td>{{ item.qty }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getDemand(-1)"><button
                                                class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of demandPages;"
                                            [ngClass]="{'active': page == demandPage}" (click)="getDemand(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getDemand(-2)"><button
                                                class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> ITEM BY EARNING
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="earningOrder"
                                            (ngModelChange)="getEarning(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Total Earning</th>
                                                <th>QTY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of earningData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.totalprice }}</td>
                                                <td>{{ item.qty }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getEarning(-1)"><button
                                                class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of earningPages;"
                                            [ngClass]="{'active': page == earningPage}" (click)="getEarning(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getEarning(-2)"><button
                                                class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    CUSTOMER CREDIT LIMIT
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Credit</th>
                                <th>Credit Limit</th>
                                <th>Total Spending</th>
                                <th>Send Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let credit of creditData; index as i;">
                                <td>{{ credit.id }}</td>
                                <td>{{ credit.name }}</td>
                                <td>{{ credit.phone }}</td>
                                <td>{{ credit.email }}</td>
                                <td>{{ credit.credit }}</td>
                                <td>{{ credit.creditlimit }}</td>
                                <td>{{ credit.amount }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="sendEmail(i)">
                                        send request
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getCredit(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item active" *ngFor="let page of creditPages;"
                            [ngClass]="{'active': page == creditPage}" (click)="getCredit(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getCredit(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    PURCHASE DUE
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Bill ID</th>
                                <th>Vendor Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Due</th>
                                <th>Due Date</th>
                                <th>Bill Date</th>
                                <th>Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let purchaseDue of purchaseDueData; index as i;">
                                <td>{{ purchaseDue.billID }}</td>
                                <td>{{ purchaseDue.vendorFName + ' ' + purchaseDue.vendorLName }}</td>
                                <td>{{ purchaseDue.vendorPhone }}</td>
                                <td>{{ purchaseDue.vendorEmail }}</td>
                                <td>{{ purchaseDue.dueAmount }}</td>
                                <td>{{ purchaseDue.dueDate ? purchaseDue.dueDate.toLocaleString().split(',')[0] : 'nill' }}</td>
                                <td>{{ purchaseDue.createdAt.toLocaleString().split(',')[0] }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="removeDueByPurchase(i)">
                                        Paid
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getPurchaseDue(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item active" *ngFor="let page of purchaseDuePages;"
                            [ngClass]="{'active': page == purchaseDuePage}" (click)="getPurchaseDue(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getPurchaseDue(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    RETURN DUE
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Bill ID</th>
                                <th>Vendor Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Due</th>
                                <th>Due Date</th>
                                <th>Bill Date</th>
                                <th>Received</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let returnDue of returnDueData; index as i;">
                                <td>{{ returnDue.id }}</td>
                                <td>{{ returnDue.vendorFName + ' ' + returnDue.vendorLName }}</td>
                                <td>{{ returnDue.vendorPhone }}</td>
                                <td>{{ returnDue.vendorEmail }}</td>
                                <td>{{ returnDue.dueAmount }}</td>
                                <td>{{ returnDue.dueDate ? returnDue.dueDate.toLocaleString().split(',')[0] : 'nill' }}</td>
                                <td>{{ returnDue.createdAt.toLocaleString().split(',')[0] }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="removeDueByReturn(i)">
                                        Received
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getReturnDue(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item active" *ngFor="let page of returnDuePages;"
                            [ngClass]="{'active': page == returnDuePage}" (click)="getReturnDue(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getReturnDue(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>