<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-basket-loaded"></i>
                    </button>
                    <h1>
                        <div>Total Item Sold Today</div>
                    </h1>
                    <div class="text-value">{{ totalItemSold }}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-arrow-down"></i>
                    </button>
                    <h1>
                        <div>Total Earning Today</div>
                    </h1>
                    <div class="text-value">{{ totalEarning }}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-arrow-up"></i>
                    </button>
                    <h1>
                        <div>Total Spending Today</div>
                    </h1>
                    <div class="text-value">{{ totalSpending }}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
                </div>
            </div>
        </div>
        <!--/.col-->

    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Bar Chart
                    <div class="card-header-actions">
                        <a href="http://www.chartjs.org">
                            <small class="text-muted">docs</small>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                            [colors]="barChartColours" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    medicine &amp; Sales
                </div>
                <div class="card-body">

                    <!--/.row-->
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> MEDICINE TABLE
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>medicine</th>
                                                <th>code/id</th>
                                                <th>ph. no.</th>
                                                <th>cost / unit</th>
                                                <th>total amount</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Carwyn Fachtna</td>
                                                <td>2012/01/01</td>
                                                <td>987654632</td>
                                                <td>450
                                                </td>
                                                <td>900000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> HIGH IN DEMAND
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>medicine</th>
                                                <th>code/id</th>

                                                <th>total amount</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Carwyn Fachtna</td>
                                                <td>2012/01/01</td>

                                                <td>900000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--/.col-->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> LOW IN DEMAND
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>medicine</th>
                                                <th>code/id</th>

                                                <th>total amount</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Carwyn Fachtna</td>
                                                <td>2012/01/01</td>

                                                <td>900000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> HIGH EARNING
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>medicine</th>
                                                <th>code/id</th>

                                                <th>total amount</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Carwyn Fachtna</td>

                                                <td>987654632</td>

                                                <td>900000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--/.col-->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> LOW EARNING
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>medicine</th>
                                                <th>code/id</th>
                                                <th>total amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Carwyn Fachtna</td>
                                                <td>987654632</td>
                                                <td>67000</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>