<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-basket-loaded"></i>
                    </button>
                    <h1>
                        <div>Total Item Sold Today</div>
                    </h1>
                    <div class="text-value">{{ totalItemSold }}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-arrow-down"></i>
                    </button>
                    <h1>
                        <div>Total Earning Today</div>
                    </h1>
                    <div class="text-value">{{ totalEarning }}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-arrow-up"></i>
                    </button>
                    <h1>
                        <div>Total Spending Today</div>
                    </h1>
                    <div class="text-value">{{ totalSpending }}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
                </div>
            </div>
        </div>
        <!--/.col-->

    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Bar Chart
                    <div class="card-header-actions">
                        <select class="form-select form-select-sm" [(ngModel)]="graphBy" (ngModelChange)="getGraphData()">
                            <option value="day">Graph by Day</option>
                            <option value="month">Graph by Month</option>
                            <option value="year">Graph by Year</option>
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                            [colors]="barChartColours" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    medicine &amp; Sales
                </div>
                <div class="card-body">

                    <!--/.row-->
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> EXPIRY
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="expiryOrder" (ngModelChange)="getExpiry(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>QTY</th>
                                                <th>Expiry Date</th>
                                                <th>Buying Date</th>
                                                <th>Salesman Name</th>
                                                <th>Salesman Phone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of expiryData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.qtystock }}</td>
                                                <td>{{ item.expiry.toLocaleString().split(',')[0] }}</td>
                                                <td>{{ item.createdAt.toLocaleString().split(',')[0] }}</td>
                                                <td>{{ item.salesmanname }}</td>
                                                <td>{{ item.salesmanphone }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getExpiry(-1)"><button class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of expiryPages;"
                                            [ngClass]="{'active': page == expiryPage}" (click)="getExpiry(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getExpiry(-2)"><button class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> LOW STOCK
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="stockOrder" (ngModelChange)="getStock(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Item Type</th>
                                                <th>Manufacturer</th>
                                                <th>QTY</th>
                                                <th>Price/Unit</th>
                                                <th>Total Sold</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of stockData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.itemtypename }}</td>
                                                <td>{{ item.manufacturer }}</td>
                                                <td>{{ item.qty }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.totalsold }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getStock(-1)"><button class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of stockPages;"
                                            [ngClass]="{'active': page == stockPage}" (click)="getStock(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getStock(-2)"><button class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> ITEM IN DEMAND
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="demandOrder" (ngModelChange)="getDemand(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Total Earning</th>
                                                <th>QTY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of demandData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.totalprice }}</td>
                                                <td>{{ item.qty }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getDemand(-1)"><button class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of demandPages;"
                                            [ngClass]="{'active': page == demandPage}" (click)="getDemand(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getDemand(-2)"><button class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> ITEM BY EARNING
                                    <div class="card-header-actions">
                                        <select class="form-select form-select-sm" [(ngModel)]="earningOrder" (ngModelChange)="getEarning(null)">
                                            <option value="asc">Low to High</option>
                                            <option value="desc">High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Total Earning</th>
                                                <th>QTY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of earningData">
                                                <td>{{ item.itemcode }}</td>
                                                <td>{{ item.itemname }}</td>
                                                <td>{{ item.totalprice }}</td>
                                                <td>{{ item.qty }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item" (click)="getEarning(-1)"><button class="page-link">Prev</button></li>
                                        <li class="page-item active" *ngFor="let page of earningPages;"
                                            [ngClass]="{'active': page == earningPage}" (click)="getEarning(page)">
                                            <button class="page-link">{{ page }}</button>
                                        </li>
                                        <li class="page-item" (click)="getEarning(-2)"><button class="page-link">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>