<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> ACCOUNTS

                    <div class="card-header-actions" style="height: 21px;">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" (click)="userSetSalary(null)">Give Salary</button>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" (click)="userFormShow('newUser', null)">Create New User</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Accounts Per Page</label>
                            <select class="form-control form-control-sm" [(ngModel)]="userLimit" (ngModelChange)="getUserTable(null)">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control form-control-sm" [(ngModel)]="userOrderBy" (ngModelChange)="getUserTable(null)">
                                <option value="id">User ID</option>
                                <option value="name">Nmae</option>
                                <option value="isadmin">Role</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control form-control-sm" [(ngModel)]="userOrder" (ngModelChange)="getUserTable(null)">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="userSearchText" (ngModelChange)="getUserTable(null)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Address</th>
                                <th>Role</th>
                                <th>Salary</th>
                                <th>Last Salary</th>
                                <th>Created At</th>
                                <th>Mail</th>
                                <th>Edit</th>
                                <th>Active</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usersList; index as i;">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phoneno.toString() + ', ' + user.otherphoneno.toString() }}</td>
                                <td>{{ user.address.toString() + " " + user.pincode.toString() }}</td>
                                <td>{{ getAdminRole(user.isadmin) }}</td>
                                <td>{{ user.salary }}</td>
                                <td>{{ user.lastsalary.toLocaleString().split(',')[0] }}</td>
                                <td>{{ user.createdAt.toLocaleString().split(',')[0] }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="mailFormShow(i)">
                                        <i class="fa fa-envelope-o"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="userFormShow('updateUser', i)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input" [(ngModel)]="user.active" (ngModelChange)="changeActive(i)">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-danger" (click)="deleteUser(i);">
                                        <i class="fa fa-user-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getUserTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item" (click)="getUserTable(-3)"><button class="page-link">First</button></li>
                        <li class="page-item active" *ngFor="let page of getTablePages(userPage, userPages);" [ngClass]="{'active': page == userPage}" (click)="getUserTable(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getUserTable(-4)"><button class="page-link">Last</button></li>
                        <li class="page-item" (click)="getUserTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> SHOP DETAIL
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Shop Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="shop name" [(ngModel)]="shopname">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Shop Details</label>
                            <input type="text" class="form-control form-control-sm" placeholder="shop details" [(ngModel)]="shopdetails">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">Shop Address</label>
                            <input type="text" class="form-control form-control-sm" placeholder="shop address" [(ngModel)]="shopaddress">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Phone No</label>
                            <input type="text" class="form-control form-control-sm" placeholder="phone no" [(ngModel)]="shopphoneno">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Other Phone No</label>
                            <input type="text" class="form-control form-control-sm" placeholder="other phone no" [(ngModel)]="shopotherphoneno">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Email</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Email" [(ngModel)]="shopemail">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Email Password</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Email Password" [(ngModel)]="shopemailpassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">SMS KEY</label>
                            <input type="text" class="form-control form-control-sm" placeholder="SMS KEY" [(ngModel)]="smskey">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">HUB SPOT KEY</label>
                            <input type="text" class="form-control form-control-sm" placeholder="HUB SPOT KEY" [(ngModel)]="hubspotkey">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">Website</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Website" [(ngModel)]="website">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">VAT No.</label>
                            <input type="text" class="form-control form-control-sm" placeholder="VAT No." [(ngModel)]="vatno">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">License No</label>
                            <input type="text" class="form-control form-control-sm" placeholder="License No" [(ngModel)]="licenseno">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-form-label" for="prependedInput">Bill Note</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Website" [(ngModel)]="billnote">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-form-label" for="prependedInput">Bill Footer</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Website" [(ngModel)]="billfooter">
                        </div>
                    </div>
                    <br>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" (click)="saveShop()">Confirm</button>
                        <button class="btn btn-secondary" type="button" (click)="cancelShop()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--message-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> MESSAGES

                    <div class="card-header-actions" style="height: 21px;">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" (click)="messageFormShow('newMessage', null)">Create New Message</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Message Per Page</label>
                            <select class="form-control form-control-sm" [(ngModel)]="messageLimit" (ngModelChange)="getMessageTable(null)">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control form-control-sm" [(ngModel)]="messageOrderBy" (ngModelChange)="getMessageTable(null)">
                                <option value="id">Message ID</option>
                                <option value="for">Message For</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control form-control-sm" [(ngModel)]="messageOrder" (ngModelChange)="getMessageTable(null)">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="messageSearchText" (ngModelChange)="getMessageTable(null)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>For</th>
                                <th>Type</th>
                                <th>Label</th>
                                <th>Created At</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let message of messagesList; index as i;">
                                <td>{{ message.id }}</td>
                                <td>{{ message.for }}</td>
                                <td>{{ message.type }}</td>
                                <td>{{ message.label }}</td>
                                <td>{{ message.createdAt.toLocaleString().split(',')[0] }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="messageFormShow('updateMessage', i)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <button *ngIf="isMessageDeletable(message.id)" type="button" class="btn btn-sm btn-ghost-danger" (click)="deleteMessage(i);">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getMessageTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item" (click)="getMessageTable(-3)"><button class="page-link">First</button></li>
                        <li class="page-item active" *ngFor="let page of getTablePages(messagePage, messagePages);" [ngClass]="{'active': page == messagePage}" (click)="getMessageTable(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getMessageTable(-4)"><button class="page-link">Last</button></li>
                        <li class="page-item" (click)="getMessageTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>












<div bsModal #userForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ userFormLabel }}</h4>
                <button type="button" class="close" (click)="userFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Name</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Name" [(ngModel)]="userDataName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">e-mail</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="e-mail" [(ngModel)]="userDataEmail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Phone No.</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Phone No." [(ngModel)]="userDataPhoneno">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Other Phone No.</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Other Phone No." [(ngModel)]="userDataOtherPhoneno">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Pincode</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Pincode" [(ngModel)]="userDataPincode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Admin Rights</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-gavel"></i></span>
                            </div>
                            <select class="form-control form-control-sm" placeholder="Admin Rights" [(ngModel)]="userDataIsAdmin">
                                <option value="1">Sales</option>
                                <option value="2">Inventory Manager</option>
                                <option value="3">Admin</option>
                                <option value="10">Super Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Salary</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-money"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Salary" [(ngModel)]="userDataSalary">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Last Salary</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                            </div>
                            <input class="form-control form-control-sm" type="date" placeholder="yyyy-mm-dd" [(ngModel)]="userDataLastSalary">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput">Address</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Address" [(ngModel)]="userDataAddress">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Password</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-secret"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-sm" placeholder="Password" [(ngModel)]="userDataPassword">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Password Re-Type</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-secret"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-sm" placeholder="Password" [(ngModel)]="userDataPasswordRe">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="userFormHide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="userFormSave()">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->












<div bsModal #confirmForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ (confirmFor == 'salary' ? 'Give Salary' : 'Delete Item') }}</h4>
                <button type="button" class="close" (click)="confirmFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="confirmFormHide()">No</button>
                <button type="button" class="btn btn-primary" (click)="confirmFormSave()">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->












<div bsModal #messageForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ messageFormLabel }}</h4>
                <button type="button" class="close" (click)="messageFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">ID</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ID" [(ngModel)]="messageDataID" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">For</label>
                        <select class="form-control form-control-sm" [(ngModel)]="messageDataFor">
                            <option value="customer.email">Customer Email</option>
                            <option value="customer.phone">Customer Mobile</option>
                            <option value="vendor.email">Vendor Email</option>
                            <option value="vendor.phone">Vendor Phone</option>
                            <option value="user.email">User Email</option>
                            <option value="user.phoneno">User Phone</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Type</label>
                        <select class="form-control form-control-sm" [(ngModel)]="messageDataType">
                            <option value="email">Email</option>
                            <option value="mobile">Mobile Text</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Label</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Label" [(ngModel)]="messageDataLabel">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Messame</label>
                        <textarea class="form-control form-control-sm" placeholder="Message" [(ngModel)]="messageDataMessage" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="messageFormHide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="messageFormSave()">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<!-- /.modal -->
<div bsModal #mailForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mailFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact User</h4>
                <button type="button" class="close" (click)="mailFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Reason</label>
                        <ng-select #FindMessage class="custom" [items]="messages" bindLabel="label" autofocus bindValue="id" [(ngModel)]="message" (search)="messageSearch($event)" (change)="messageChange($event)" placeholder="search item">
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">For</label>
                        <select class="form-control form-control-sm" [(ngModel)]="messageFor">
                            <option value="user.email">User Email</option>
                            <option value="user.phoneno">User Phone</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Message Type</label>
                        <select class="form-control form-control-sm" [(ngModel)]="messageType">
                            <option value="email">Email</option>
                            <option value="mobile">Mobile Text</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Label</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Label" [(ngModel)]="messageLabel">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Message Text</label>
                        <textarea class="form-control form-control-sm" placeholder="Message" [(ngModel)]="messageText" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="mailFormHide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="mailFormSend()">Send</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->