<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> ACCOUNTS

                    <div class="card-header-actions" style="height: 21px;">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                            (click)="userFormShow('newUser', null)">Create New User</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Accounts Per Page</label>
                            <select class="form-control form-control-sm" [(ngModel)]="userLimit" (ngModelChange)="getUserTable(1)">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control form-control-sm" [(ngModel)]="userOrderBy" (ngModelChange)="getUserTable(1)">
                                <option value="id">User ID</option>
                                <option value="name">Nmae</option>
                                <option value="isadmin">Role</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control form-control-sm" [(ngModel)]="userOrder" (ngModelChange)="getUserTable(1)">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-sm"
                                    placeholder="Search" [(ngModel)]="userSearchText" (ngModelChange)="getUserTable(1)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Address</th>
                                <th>Role</th>
                                <th>Created At</th>
                                <th>Edit</th>
                                <th>Active</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usersList; index as i;">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phoneno.toString() + ', ' + user.otherphoneno.toString() }}</td>
                                <td>{{ user.address.toString() + " " + user.pincode.toString() }}</td>
                                <td>{{ getAdminRole(user.isadmin) }}</td>
                                <td>{{ user.createdAt.toLocaleString() }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-primary" (click)="userFormShow('updateUser', i)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input" [(ngModel)]="user.active" (ngModelChange)="changeActive(i)">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-ghost-danger" (click)="deleteUser(i);">
                                        <i class="fa fa-user-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getUserTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item active" *ngFor="let page of pages;"
                            [ngClass]="{'active': page == userPage}" (click)="getUserTable(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getUserTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> SHOP DETAIL
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Shop Name</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="shop name" [(ngModel)]="shopname">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Shop Details</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="shop details" [(ngModel)]="shopdetails">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">Shop Address</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="shop address" [(ngModel)]="shopaddress">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Phone No</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="phone no" [(ngModel)]="shopphoneno">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Other Phone No</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="other phone no" [(ngModel)]="shopotherphoneno">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Email</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Email" [(ngModel)]="shopemail">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Email Password</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Email Password" [(ngModel)]="shopemailpassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">VAT No.</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="VAT No." [(ngModel)]="vatno">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput">License No</label>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="License No" [(ngModel)]="licenseno">
                        </div>
                    </div>
                    <br>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" (click)="saveShop()">Confirm</button>
                        <button class="btn btn-secondary" type="button" (click)="cancelShop()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












<div bsModal #userForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userFormLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ userFormLabel }}</h4>
                <button type="button" class="close" (click)="userFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Name</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Name" [(ngModel)]="userDataName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">e-mail</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="e-mail" [(ngModel)]="userDataEmail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Phone No.</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Phone No." [(ngModel)]="userDataPhoneno">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Other Phone No.</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Other Phone No." [(ngModel)]="userDataOtherPhoneno">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Pincode</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Pincode" [(ngModel)]="userDataPincode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Admin Rights</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-gavel"></i></span>
                            </div>
                            <select class="form-control form-control-sm" placeholder="Admin Rights" [(ngModel)]="userDataIsAdmin">
                                <option value="1">Transaction</option>
                                <option value="2">Inventory Manager</option>
                                <option value="3">Admin</option>
                                <option value="10">Super Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput">Address</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Address" [(ngModel)]="userDataAddress">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Password</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-secret"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-sm"
                                placeholder="Password" [(ngModel)]="userDataPassword">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput">Password Re-Type</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-secret"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-sm"
                                placeholder="Password" [(ngModel)]="userDataPasswordRe">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="userFormHide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="userFormSave()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->












<div bsModal #deleteConfirmForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Item</h4>
                <button type="button" class="close" (click)="deleteConfirmFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="deleteConfirmFormHide()">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteConfirmFormSave()">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->