<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>New Transaction
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize"
                            (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"
                    class="card-body">
                    <!--
                            <div class="col-md-3">
                                <ng-select [items]="people" bindLabel="name" autofocus bindValue="id" [(ngModel)]="selectedPersonId">
                                </ng-select>
                            </div>
                            -->
                    <div class="form-group row" *ngFor="let item of items; index as i;">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Item</label>
                            <input type="text" class="form-control" placeholder="Item" [(ngModel)]="item.itemname"
                                readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Available Quantity</label>
                            <input type="text" class="form-control" placeholder="Available Quantity"
                                [(ngModel)]="item.qtyAvailable" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Unit Price</label>
                            <input type="text" class="form-control" placeholder="Unit Price" [(ngModel)]="item.price"
                                readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Quantity</label>
                            <input type="text" class="form-control" placeholder="Quantity" [(ngModel)]="item.qty"
                                (ngModelChange)="changeQTY(i);">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Total Price</label>
                            <input type="text" class="form-control" placeholder="Total Price"
                                [(ngModel)]="item.totalPrice" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label" for="prependedInput">&nbsp;</label>
                            <br>
                            <button class="btn btn-primary" type="button" (click)="removeItem(i)"><i
                                    class="fa fa-close"></i></button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="button" (click)="addItem()"><i
                                    class="fa fa-plus"></i>&nbsp;Add
                                item</button>
                        </div>
                        <div class="col-md-3">
                            <ng-select #FindItem [searchFn]="searchFn" [items]="itemsList" bindLabel="itemname" autofocus
                                bindValue="itemcode" [(ngModel)]="selectedItemCode" (search)="itemSearch($event)"
                                (change)="itemChange($event)" placeholder="search item">
                            </ng-select>
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">VAT (%)</label>
                            <input type="text" class="form-control" placeholder="%" [(ngModel)]="vat"
                                (ngModelChange)="calculateTotalAmmount()">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Discount (%)</label>
                            <input type="text" class="form-control" placeholder="%" [(ngModel)]="discount"
                                (ngModelChange)="calculateTotalAmmount()">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Discount (value)</label>
                            <input type="text" class="form-control" placeholder="Rs." [(ngModel)]="discountValue"
                                readonly>
                        </div>



                        <div class="col-md-3">
                            <label class="col-form-label" for="select1">Payment Mode</label>
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="paymentMode">
                                <option value="cash">Cash</option>
                                <option value="POS">POS</option>
                                <option value="Cash and POS">Cash and POS</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Cumulative Amount</label>
                            <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="totalAmount"
                                readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Amount Tendered</label>
                            <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="totalTendered"
                                (ngModelChange)="changeTendered();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Change Due</label>
                            <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="changeDue" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Credit Amount</label>
                            <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="creditAmount"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Customer ID</label>
                            <input type="text" class="form-control" placeholder="ID" [(ngModel)]="customerID"
                                (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Customer Name</label>
                            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="customerName">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Customer Phone</label>
                            <input type="text" class="form-control" placeholder="Phone Number"
                                [(ngModel)]="customerPhone" (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Customer Email</label>
                            <input type="text" class="form-control" placeholder="E-mail Address"
                                [(ngModel)]="customerEmail" (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Credit</label>
                            <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="customerCredit"
                                readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="button" (click)="customerAdd()"
                                [disabled]="!customerNew">Add Customer</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="button" (click)="customerUpdate()"
                                [disabled]="customerNew">Update Customer</button>
                        </div>
                        <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" value="option1" id="creditAdd"
                                [disabled]="customerNew" [(ngModel)]="addCredit"
                                (ngModelChange)="calculateTotalAmmount();">
                            <label class="form-check-label" for="creditAdd">
                                Add Credit to Amount
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" (click)="confirmTransaction()">Confirm</button>
                        <button class="btn btn-secondary" type="button" (click)="cancelTransaction()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->


    
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> TRANSACTIONS
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Transaction Per Page</label>
                            <select class="form-control" [(ngModel)]="transactionLimit" (ngModelChange)="getTransactionTable()">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control" [(ngModel)]="transactionOrderBy" (ngModelChange)="getTransactionTable()">
                                <option value="createdAt">Date</option>
                                <option value="totalItem">Total Item</option>
                                <option value="totalAmount">Total Price</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control" [(ngModel)]="transactionOrder" (ngModelChange)="getTransactionTable()">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control"
                                    placeholder="Search" [(ngModel)]="transactionSearchText" (ngModelChange)="getTransactionTable()">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Receipt No</th>
                                <th>Total Item</th>
                                <th>Total Amount</th>
                                <th>Amount Tendered</th>
                                <th>Change Due</th>
                                <th>Mode of Payment</th>
                                <th>Staff</th>
                                <th>Customer</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactions; index as i;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.totalItem }}</td>
                                <td>{{ transaction.totalAmount }}</td>
                                <td>{{ transaction.totalTendered }}</td>
                                <td>{{ transaction.changeDue }}</td>
                                <td>{{ transaction.paymentMode }}</td>
                                <td>{{ transaction.userName }}</td>
                                <td>{{ transaction.customerName }}</td>
                                <td>{{ transaction.createdAt.toLocaleString() }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getTransactionTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item active" *ngFor="let page of pages;" [ngClass]="{'active': page == transactionPage}" (click)="getTransactionTable(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getTransactionTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>