<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>New Sale
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
                    <!--
                            <div class="col-md-3">
                                <ng-select [items]="people" bindLabel="name" autofocus bindValue="id" [(ngModel)]="selectedPersonId">
                                </ng-select>
                            </div>
                            -->
                    <div class="form-group row" *ngFor="let item of items; index as i;">
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Stock ID</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Item Code" [(ngModel)]="item.stockid" (ngModelChange)="stockChange(i);">
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Item</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Item" value="{{ item.itemname }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Rack</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Rack" value="{{ item.rack }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Exp</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Exp" value="{{ item.expiry.toString().substr(0, 7) }}" [ngClass]="{'error' : expError(item.expiry.toString()) }" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Available</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Available" value="{{ item.qtystock }}" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">&nbsp;</label>
                            <br>
                            <button class="btn btn-primary btn-sm" type="button" (click)="removeItem(i)"><i
                                    class="fa fa-close"></i></button>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Unit Price</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Unit Price" value="{{ item.price }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">VAT (%)</label>
                            <input type="text" class="form-control form-control-sm" placeholder="VAT" [(ngModel)]="item.vat" (ngModelChange)="changeQTY(i);">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Disc (%)</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Discount" [(ngModel)]="item.discount" (ngModelChange)="changeQTY(i);">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Disc (amount)</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Discount amount" [(ngModel)]="item.discountamount" (ngModelChange)="changeQTY(i);">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Quantity</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Quantity" [(ngModel)]="item.qty" (ngModelChange)="changeQTY(i);">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Total Price</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Total Price" value="{{ item.totalprice }}" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="button" (click)="addItem()"><i
                                    class="fa fa-plus"></i>&nbsp;Add
                                item</button>
                        </div>
                        <div class="col-md-3">
                            <ng-select #FindItem [searchFn]="searchFn" [items]="itemsList" bindLabel="itemname" autofocus bindValue="itemcode" [(ngModel)]="selectedItemCode" (search)="itemSearch($event)" (change)="itemChange($event)" placeholder="search item">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control form-control-sm" placeholder="scan product" [(ngModel)]="scanValue" (ngModelChange)="itemScan();">
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Total Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalAmount" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Total Discount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalDiscount" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Taxable</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="taxable" readonly>
                        </div>



                        <div class="col-md-3">
                            <label class="col-form-label" for="select1">Payment Mode</label>
                            <select id="select1" name="select1" class="form-control form-control-sm" [(ngModel)]="paymentMode">
                                <option value="cash">Cash</option>
                                <option value="POS">POS</option>
                                <option value="Cash and POS">Cash and POS</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Cumulative Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="cumulativeAmount" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Amount Tendered</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalTendered" (ngModelChange)="changeTendered();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Change Due</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="changeDue" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Credit Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="creditAmount" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Customer</label>
                            <ng-select #FindCustomer [searchFn]="customerSearchFn" [items]="customerList" bindLabel="label" autofocus bindValue="id" [(ngModel)]="customerID" (search)="customerSearch($event)" (change)="customerChange($event)" placeholder="search customer">
                            </ng-select>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Customer Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Name" [(ngModel)]="customerName">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Customer Phone</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Phone Number" [(ngModel)]="customerPhone" (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Customer Email</label>
                            <input type="text" class="form-control form-control-sm" placeholder="E-mail Address" [(ngModel)]="customerEmail" (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label" for="prependedInput">Credit</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="customerCredit" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label" for="prependedInput">CreditLimit</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="customerCreditLimit" [ngClass]="{'error' : customerCreditError }">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="customerAdd()" [disabled]="!customerNew">Add Customer</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="customerUpdate()" [disabled]="customerNew">Update Customer</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="customerClear()" [disabled]="customerNew">Clear Customer</button>
                        </div>
                        <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" value="option1" id="creditAdd" [disabled]="customerNew" [(ngModel)]="addCredit" (ngModelChange)="calculateTotalAmmount();">
                            <label class="form-check-label" for="creditAdd">
                                Add Credit to Amount
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" (click)="confirmSale()">Confirm</button>
                        <button class="btn btn-secondary" type="button" (click)="cancelSale()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->




    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> SALES
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Sale Per Page</label>
                            <select class="form-control form-control-sm" [(ngModel)]="saleLimit" (ngModelChange)="getSaleTable(null)">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control form-control-sm" [(ngModel)]="saleOrderBy" (ngModelChange)="getSaleTable(null)">
                                <option value="createdAt">Date</option>
                                <option value="totalItem">Total Item</option>
                                <option value="totalAmount">Total Price</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control form-control-sm" [(ngModel)]="saleOrder" (ngModelChange)="getSaleTable(null)">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="saleSearchText" (ngModelChange)="getSaleTable(null)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Receipt No</th>
                                <th>Total Item</th>
                                <th>Total Amount</th>
                                <th>Amount Tendered</th>
                                <th>Change Due</th>
                                <th>Mode of Payment</th>
                                <th>Staff</th>
                                <th>Customer</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sale of sales; index as i;">
                                <td>{{ i + 1 + (salePage - 1) * saleLimit }}</td>
                                <td><a href="{{ serverPath + 'sale-bill?saleId=' + sale.id.toString() + '&paper=A4V2' }}" target="_blank">{{ sale.id }}</a></td>
                                <td>{{ sale.totalItem }}</td>
                                <td>{{ sale.totalAmount }}</td>
                                <td>{{ sale.totalTendered }}</td>
                                <td>{{ sale.changeDue }}</td>
                                <td>{{ sale.paymentMode }}</td>
                                <td>{{ sale.userName }}</td>
                                <td>{{ sale.customerName }}</td>
                                <td>{{ sale.createdAt.toLocaleString() }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getSaleTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item active" *ngFor="let page of pages;" [ngClass]="{'active': page == salePage}" (click)="getSaleTable(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getSaleTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>