<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>New Sale

                    <div class="card-header-actions" style="height: 21px;" *ngIf="authGuardService.isadmin >= 3">
                        <input class="form-control form-control-sm" style="width: 60%; display: inline-block;" placeholder="Search" [(ngModel)]="upBillId">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" (click)="getDataToUpdate();">Edit Bill</button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
                    <div class="form-group row" style="border: 1px solid rgb(206, 206, 206); border-width: 0 0 1px 0; padding: 0 0 10px 0;" *ngFor="let item of items; index as i;">
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Stock ID</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Item Code" [(ngModel)]="item.stockcode" (ngModelChange)="stockChange(i);" [disabled]="item.qtystock < 0">
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Item</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Item" value="{{ item.itemname }}" [disabled]="item.qtystock >= 0">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Rack</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Rack" value="{{ item.rack }}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Exp</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Exp" value="{{ (item.expiry ? item.expiry.toString().substr(0, 7) : null) }}" [ngClass]="{'error' : expError(item.expiry) }" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Available</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Available" value="{{ item.qtystock }}" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">&nbsp;</label>
                            <br>
                            <button class="btn btn-primary btn-sm" type="button" (click)="removeItem(i)"><i
                                    class="fa fa-close"></i></button>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Price/Unit</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Price/Unit" value="{{ item.price }}" [disabled]="item.qtystock >= 0">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Quantity</label>
                            <input type="text" class="form-control form-control-sm bg-info" placeholder="Quantity" [(ngModel)]="item.qty" (ngModelChange)="changeQTY(i);">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Total Price</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Total Price" value="{{ item.totalprice }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label col-form-label-sm" for="prependedInput">Description</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Total Price" value="{{ item.description }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="button" (click)="addItem()"><i
                                    class="fa fa-plus"></i>&nbsp;Add
                                item</button>
                        </div>
                        <div class="col-md-3">
                            <ng-select #FindItem [searchFn]="searchFn" [items]="itemsList" bindLabel="itemname" autofocus bindValue="itemcode" [(ngModel)]="selectedItemCode" (search)="itemSearch($event)" (change)="itemChange($event)" placeholder="search item">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control form-control-sm" placeholder="scan product" [(ngModel)]="scanValue" (ngModelChange)="itemScan();">
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Total Amount</label>
                            <label type="text" class="form-control form-control-sm text-white bg-info">{{ totalAmount }}</label>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Discount (%)</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="discountPercent" (ngModelChange)="calculateTotalAmmount();">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Discount Amount</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="discountAmount" (ngModelChange)="calculateTotalAmmount();">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Taxable</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="taxable" readonly>
                        </div>
                        <!-- <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Puchase Cost</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="purchaseCost" readonly>
                        </div> -->
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Vat (%)</label>
                            <select id="select1" name="select1" class="form-control form-control-sm" [(ngModel)]="vatValue" (ngModelChange)="calculateTotalAmmount();">
                                <option value="0n">None   0.0</option>
                                <option value="0e">Exempt 0.0</option>
                                <option value="0p">VAT 0% 0.0</option>
                                <option value="13">VAT 13% 13.0</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Payable</label>
                            <label type="text" class="form-control form-control-sm text-white bg-success">{{ cumulativeAmount }}</label>
                        </div>



                        <div class="col-md-2">
                            <label class="col-form-label" for="select1">Payment Mode</label>
                            <select id="select1" name="select1" class="form-control form-control-sm" [(ngModel)]="paymentMode">
                                <option value="cash">Cash</option>
                                <option value="QR code Scanned">QR code Scanned</option>
                                <option value="Bank Payment">Bank Payment</option>
                                <option value="Online Wallets">Online Wallets ( Esewa, Khalit, etc. )</option>
                                <option value="Credit / Debit Card">Credit / Debit Card</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Amount Tendered</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="totalTendered" (ngModelChange)="changeTendered();">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Change</label>
                            <label type="text" class="form-control form-control-sm text-white bg-warning">{{ changeDue }}</label>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Due Amount</label>
                            <label type="text" class="form-control form-control-sm text-white bg-danger">{{ creditAmount }}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <label class="col-form-label" for="prependedInput">Description/Note</label>
                            <input type="text" class="form-control form-control-sm" placeholder="add a note for your customer (optional)" [(ngModel)]="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Customer</label>
                            <ng-select #FindCustomer [searchFn]="customerSearchFn" [items]="customerList" bindLabel="label" autofocus bindValue="id" [(ngModel)]="customerID" (search)="customerSearch($event)" (change)="customerChange($event)" placeholder="search customer">
                            </ng-select>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Customer Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Name" [(ngModel)]="customerName">
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Customer Phone</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Phone Number" [(ngModel)]="customerPhone" (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Customer Email</label>
                            <input type="text" class="form-control form-control-sm" placeholder="E-mail Address" [(ngModel)]="customerEmail" (ngModelChange)="customerGet();">
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label" for="prependedInput">Due</label>
                            <label type="text" class="form-control form-control-sm text-white {{ (customerHasCredit ? 'bg-danger' : '') }}">{{ customerCredit }}</label>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label" for="prependedInput">Due Limit</label>
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" [(ngModel)]="customerCreditLimit" [ngClass]="{'error' : customerCreditError }">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="customerAdd()" [disabled]="!customerNew">Add Customer</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="customerUpdate()" [disabled]="customerNew">Update Customer</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" type="button" (click)="customerClear()" [disabled]="customerNew">Clear Customer</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm" type="button" (click)="mergeHubspotCustomer()">Get from Hubspot</button>
                            <!-- <input class="form-check-input" type="checkbox" value="option1" id="creditAdd" [disabled]="customerNew" [(ngModel)]="addCredit" (ngModelChange)="calculateTotalAmmount();">
                            <label class="form-check-label" for="creditAdd">
                                Add Credit to Amount
                            </label> -->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" (click)="confirmSale()">Confirm</button>
                        <button class="btn btn-secondary" type="button" (click)="cancelSale()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->




    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> SALES
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-form-label" for="prependedInput">Sale Per Page</label>
                            <select class="form-control form-control-sm" [(ngModel)]="saleLimit" (ngModelChange)="getSaleTable(null)">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Sort By</label>
                            <select class="form-control form-control-sm" [(ngModel)]="saleOrderBy" (ngModelChange)="getSaleTable(null)">
                                <option value="createdAt">Date</option>
                                <option value="totalItem">Total Item</option>
                                <option value="totalAmount">Total Price</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Order</label>
                            <select class="form-control form-control-sm" [(ngModel)]="saleOrder" (ngModelChange)="getSaleTable(null)">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label" for="prependedInput">Search</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="saleSearchText" (ngModelChange)="getSaleTable(null)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Receipt No</th>
                                <th>Total Item</th>
                                <th>Total Amount</th>
                                <th>Amount Tendered</th>
                                <th>Due</th>
                                <th>Mode of Payment</th>
                                <th>Staff</th>
                                <th>Customer</th>
                                <th>Date</th>
                                <th>Record a Payment</th>
                                <th *ngIf="authGuardService.isadmin >= 3">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sale of sales; index as i;">
                                <td>{{ i + 1 + (salePage - 1) * saleLimit }}</td>
                                <td><a href="{{ serverPath + 'sale-bill?saleId=' + sale.id.toString() + '&key=' + (sale.key ? sale.key.toString() : '') + '&paper=A4V2' }}" target="_blank">{{ sale.id }}</a></td>
                                <td>{{ sale.totalItem }}</td>
                                <td>{{ sale.totalAmount }}</td>
                                <td>{{ sale.totalTendered }}</td>
                                <td>{{ sale.creditAmount }}</td>
                                <td>{{ sale.paymentMode }}</td>
                                <td>{{ sale.userName }}</td>
                                <td>{{ sale.customerName }}</td>
                                <td>{{ sale.createdAt.toLocaleString() }}</td>
                                <td>
                                    <button *ngIf="sale.creditAmount > 0" type="button" class="btn btn-sm btn-ghost-primary" (click)="dueConfirmFormOpen(i)">
                                        Record a Payment
                                    </button>
                                </td>
                                <td *ngIf="authGuardService.isadmin >= 3">
                                    <button type="button" class="btn btn-sm btn-ghost-danger" (click)="deleteSale(sale.id);">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item" (click)="getSaleTable(-1)"><button class="page-link">Prev</button></li>
                        <li class="page-item" (click)="getSaleTable(-3)"><button class="page-link">First</button></li>
                        <li class="page-item active" *ngFor="let page of getTablePages(salePage, pages);" [ngClass]="{'active': page == salePage}" (click)="getSaleTable(page)">
                            <button class="page-link">{{ page }}</button>
                        </li>
                        <li class="page-item" (click)="getSaleTable(-4)"><button class="page-link">Last</button></li>
                        <li class="page-item" (click)="getSaleTable(-2)"><button class="page-link">Next</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>












<div bsModal #confirmForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Sale</h4>
                <button type="button" class="close" (click)="confirmFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="confirmFormHide()">No</button>
                <button type="button" class="btn btn-primary" (click)="confirmFormSave()">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->












<div bsModal #dueConfirmForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dueConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" (click)="dueConfirmFormHide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label col-form-label-sm" for="prependedInput">Amount</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Amount" [(ngModel)]="amountDue">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="dueConfirmFormHide()">No</button>
                <button type="button" class="btn btn-primary" (click)="dueConfirmFormSave()">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->